{% extends "navbar-logueado.html" %}

{% block content %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script>

    function getDate() {
        n = new Date();
        y = n.getFullYear();
        m = n.getMonth() + 1;
        d = n.getDate();
        return document.getElementById("date").innerHTML = "Fecha: " + d + "/" + m + "/" + y;
    }

    function register() {
        console.log("REGISTRADO")
    }

    let vtaMostrador = 0;
    let vtaCC = 0;
    let efectivoInicial = 0;

    function getVtaMostrador() {
        url = "/sell/all";
        $.getJSON(url).done(function (vtas) {
            let tot = 0;
            let todaysDate = new Date();
            vtas.forEach(function (obj) {
                let inputDate = new Date(obj.fecha);
                if (inputDate.setHours(0, 0, 0, 0) === todaysDate.setHours(0, 0, 0, 0)) {
                    if (obj.productoid === 1 || obj.productoid === 7) {
                        urlProd = "/product/" + obj.productoid;
                        $.getJSON(urlProd).done(function (prods) {
                            prods.forEach(function (x) {
                                tot = tot + parseInt(x.precio);
                            })
                            document.getElementById("vtaMostrador").innerHTML = "$ " + tot;
                            if (tot) vtaMostrador = tot;
                            return vtaMostrador;
                        })
                    }
                }
            });

        });
    }

    function getVtaCC() {
        url = "/current-account/cc/all";
        $.getJSON(url).done(function (vtacc) {
            let tot = 0;
            let todaysDate = new Date();
            vtacc.forEach(function (obj) {
                let inputDate = new Date(obj.fechamov);
                if (inputDate.setHours(0, 0, 0, 0) === todaysDate.setHours(0, 0, 0, 0)) {
                    tot = tot + parseInt(obj.monto);
                }
            });
            document.getElementById("vtaCC").innerHTML = "$ " + tot;
            if (tot) vtaCC = tot;
            return vtaCC;
        });
    }

    function getEfectivoInicial() {
        url = "/caja/last";
        $.getJSON(url).done(function (lastCaja) {
            document.getElementById("efectivoInicial").innerHTML = "$ " + lastCaja.efectivoInicial;
            if (lastCaja.efectivoInicial) efectivoInicial = lastCaja.efectivoInicial;
            return efectivoInicial;
        });
    }

    window.onload = function () {

        getDate();

        var p1 = new Promise((resolve, reject) => {
            resolve(getVtaCC());
        });
        var p2 = new Promise((resolve, reject) => {
            resolve(getVtaMostrador());
        });
        var p3 = new Promise((resolve, reject) => {
            resolve(getEfectivoInicial());
        });

        Promise.all([p1, p2, p3]).then(function (value) {
            console.log(value)
            //console.log(vtaMostrador)
        })

    };


</script>


<div class="form-group" style="margin-top:100px;">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for m in messages %}
    <div class="alert alert-success text-center">{{ m }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>

<div class="form-row" style="text-align: center;">
    <h2 class="col-md-12 m-auto">Gestionar Mi Caja
        <!-- <a href="#editLotteryInfoModal" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip"
                title="Editar">&#xE254;</i></a> -->
    </h2>
</div>
<br></br>
<div class="form-row">
    <br></br>
    <h5 class="col-md-12 m-auto text-center" id="date"></h5>

    <table class="table">
        <thead>
            <tr>
                <!-- <th scope="col" class="text-center  mx-auto"></th>
                <th scope="col" class="text-center  mx-auto">Totales Generales</th> -->
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row" class="text-center  mx-auto">Venta de mostrador</th>
                <th class="text-center  mx-auto"><label id="vtaMostrador">$$$$$$</label></th>
            </tr>
            <tr>
                <th scope="row" class="text-center  mx-auto">Efectivo Inicial</th>
                <th class="text-center  mx-auto"><label id="efectivoInicial">$$$$$$</label></th>
            </tr>
            <tr>
                <th scope="row" class="text-center  mx-auto">Venta Sistema</th>
                <th class="text-center  mx-auto "><input type="number" class="form-control col-md-3 mx-auto "
                        id="ventaSistema" name="ventaSistema" placeholder="Venta Sistema" required="required" min=0>
                </th>
            </tr>
            <tr>
                <th scope="row" class="text-center  mx-auto">Premios en linea</th>
                <th class="text-center  mx-auto"><input type="number" class="form-control col-md-3 mx-auto "
                        id="premiosEnLinea" name="premiosEnLinea" placeholder="Premios en linea" required="required"
                        min=0></th>
            </tr>
            <tr>
                <th scope="row" class="text-center  mx-auto">Deposito</th>
                <th class="text-center  mx-auto"><input type="number" class="form-control col-md-3 mx-auto "
                        id="Deposito" name="Deposito" placeholder="Deposito" required="required" min=0></th>
            </tr>
            <tr>
                <th scope="row" class="text-center  mx-auto">Gastos</th>
                <th class="text-center  mx-auto"><input type="number" class="form-control col-md-3 mx-auto " id="Gastos"
                        name="Gastos" placeholder="Gastos" required="required" min=0></th>
            </tr>
            <tr>
                <th scope="row" class="text-center  mx-auto">Venta CTA CTE</th>
                <th class="text-center  mx-auto"><label id="vtaCC">$$$$$$</label></th>
            </tr>
            <tr>
                <th scope="row" class="text-center  mx-auto">Cobro CTA CTE</th>
                <th class="text-center  mx-auto"><label>$$$$$$</label></th>
            </tr>
            <tr>
                <th scope="row" class="text-center  mx-auto">SUBE</th>
                <th class="text-center  mx-auto"><input type="number" class="form-control col-md-3 mx-auto " id="SUBE"
                        name="SUBE" placeholder="SUBE" required="required" min=0></th>
            </tr>
            <tr>
                <th scope="row" class="text-center  mx-auto">Saldo Final</th>
                <th class="text-center  mx-auto"><label>$$$$$$</label></th>
            </tr>
            <tr>
                <th scope="row" class="text-center  mx-auto">Efectivo Cierre Caja</th>
                <th class="text-center  mx-auto"><input type="number" class="form-control col-md-3 mx-auto "
                        id="Efectivo" name="Efectivo" placeholder="Efectivo" required="required" min=0></th>
            </tr>
            <tr>
                <th scope="row" class="text-center  mx-auto">Diferencia</th>
                <th class="text-center  mx-auto"><label>$$$$$$</label></th>
            </tr>
            <tr>
                <th scope="row" class="text-center  mx-auto">Comision</th>
                <th class="text-center  mx-auto"><input type="number" class="form-control col-md-3 mx-auto "
                        id="Comision" name="Comision" placeholder="Comision" required="required" min=0></th>
            </tr>
        </tbody>
    </table>

    <div class="form-group col-md-4 m-auto">
        <button class="btn btn-primary form-control" onclick="register();">Registrar</button>
    </div>
    <br></br>
    <br></br>
</div>


{% endblock %}