{% extends "navbar-logueado.html" %}

{% block content %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script>

    function getProductos() {
        url = "/product/all";
        $.getJSON(url).done(function (prod) {
            dl = prod.length;
            $("#tr_cargartabla").empty();
            prod.forEach(function (obj) {
                $('#tr_cargartabla').append(
                    '<tr>' +
                    '<td>' + obj.id + '</td>' +
                    '<td>' + obj.nombre + '</td>' +
                    '<td> $ ' + obj.precio + '</td>' +
                    '<td id="qwerty">' +
                    '<a href="#editEmployeeModal" id=grupomodif' + obj.id + ' onclick="getProdXId(' + obj.id + ');" class="edit" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Editar">&#xE254;</i></a>' +
                    '<a href="#" id=grupodel' + obj.id + ' onclick="btnEliminar(' + obj.id + ');" class="delete" data-toggle="modal"><i class="material-icons" data-toggle="tooltip" title="Borrar">&#xE872;</i></a>' +
                    '</td>' +
                    '</tr>'
                );
            });
        });

    }


    function getProdXId(id) {
        url = "/product/" + id;
        $.getJSON(url).done(function (data) {
            data.map(e => {
                $("#form-editar").empty();
                $('#form-editar').append(
                    '<div class="form-group">' +
                    '<label>ID</label>' +
                    '<input type="text" class="form-control" value="' + e.id + '" name="id" id="id" readonly>' +
                    '</div>' +
                    '<div class="form-group">' +
                    '<label>Nombre</label>' +
                    '<input type="text" class="form-control" value="' + e.nombre + '" name="nombre" id="nombre" required>' +
                    '</div>' +
                    '<div class="form-group">' +
                    '<label>Precio ($)</label>' +
                    '<input type="text" class="form-control" value="' + e.precio + '" name="precio" id="precio" required>' +
                    '</div>' +
                    '</div>'
                );
            });
        })
    }

    function btnEliminar(id) {
        if (window.confirm("¿Realmente desea eliminar este producto?")) {
            url = "/product/" + id;
            $.ajax({
                url: url,
                type: 'DELETE',
                success: function (result) {
                    if (result == "OK") {
                        window.location.href = "/product/all";
                    }
                }
            });
        }
    }

    function OnEditProd() {

        const id = document.getElementById("id").value;
        const nombre = document.getElementById("nombre").value;
        const precio = document.getElementById("precio").value;

        const jsonToSend = {
            id,
            nombre,
            precio
        }

        if (id && nombre && precio)
            $.ajax({
                url: "/modificar-producto",
                type: "POST",
                data: jsonToSend,
                success: function (response) {
                    console.log(response)
                },
                error: function (error) {
                    console.log(error);
                },
            });
        else
            alert("Error interno")
    }

    getProductos();

</script>

<form style="margin-top:100px;">
    <div class="form-group">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for m in messages %}
        <div class="alert alert-success text-center">{{ m }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="table-responsive">
        <div class="table-wrapper table">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 style="text-align: center;">Gestionar Productos</h2>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>Nombre</th>
                        <th>Precio</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody id="tr_cargartabla">
                    <!-- <tr id="tr_cargartabla">
                        
                    </tr>  -->
                </tbody>
            </table>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <!-- <form action="/modificar-producto" method="POST"> -->
            <div class="modal-content">

                <div class="modal-header">
                    <h4 class="modal-title">Editar producto</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                </div>
                <div class="modal-body" id="form-editar">
                </div>
                <div class="col-md-4 m-auto">
                    <button onclick="OnEditProd();" class="btn btn-primary form-control">Guardar</button>
                </div>
                <br></br>
            </div>
            <!-- </form> -->
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Eliminar producto</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>¿Desea eliminar este registro?</p>
                        <p class="text-warning"><small>Esta accion no puede ser cambiada</small></p>
                    </div>
                    <div class="modal-footer" id="btn-eliminar">

                    </div>
                </form>
            </div>
        </div>
    </div>
</form>

{% endblock %}