{% extends "navbar-logueado.html" %}

{% block content %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script>

    function getVentas() {
        url = "/sell/all";
        $.getJSON(url).done(function (vent) {
            var clienteid;
            $("#tr_cargartabla").empty();
            vent.forEach(function (obj) {
                var fechaAux = new Date(obj.fecha);
                $('#tr_cargartabla').append(
                    '<tr>' +
                    '<td>' + obj.id + '</td>' +
                    '<td id="cliente-id'+ obj.id+'"></td>' +
                    '<td id="producto-id'+ obj.id+'"></td>' +
                    '<td>' + obj.cantidad + '</td>' +
                    '<td>' + fechaAux.getDate() + "/"+ (fechaAux.getMonth()+1) + "/"+ fechaAux.getFullYear()+ " "+ fechaAux.getHours()+ ":" + (fechaAux.getMinutes()+1)+'</td>' +
                    '</tr>'
                );

                url1 = "/client/" + obj.clienteid;
                $.getJSON(url1).done(function (client) {
                    dl = client.length;
                    $("#cliente-id"+ obj.id).empty();
                    client.forEach(function (cli) {
                        $('#cliente-id'+ obj.id).append(cli.nombre);
                    });
                });

                url2 = "/product/" + obj.productoid;
                $.getJSON(url2).done(function (product) {
                    dl = product.length;
                    $("#producto-id"+ obj.id).empty();
                    product.forEach(function (prod) {
                        $('#producto-id'+ obj.id).append(prod.nombre);
                    });
                });

            });
        });

    }

    getVentas();

</script>

<form style="margin-top:100px;">
    <div class="form-group">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for m in messages %}
        <div class="alert alert-success text-center">{{ m }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="table-responsive">
        <div class="table-wrapper table">

            <div class="table-title">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 style="text-align: center;">Gestionar Ventas</h2>
                    </div>
                </div>
            </div>
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>Cliente</th>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody id="tr_cargartabla">
                    <!-- <tr id="tr_cargartabla">
                        
                    </tr>  -->
                </tbody>
            </table>
        </div>
    </div>
    <!-- Edit Modal HTML -->
    <div id="editEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form action="/modificar-producto" method="POST">
                    <div class="modal-header">
                        <h4 class="modal-title">Editar producto</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body" id="form-editar">

                    </div>
                    <div class="modal-footer">
                        <input type="button" class="btn btn-default" data-dismiss="modal" value="Cancelar">
                        <input type="submit" class="btn btn-info" value="Guardar">
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Delete Modal HTML -->
    <div id="deleteEmployeeModal" class="modal fade">
        <div class="modal-dialog">
            <div class="modal-content">
                <form>
                    <div class="modal-header">
                        <h4 class="modal-title">Eliminar producto</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>¿Desea eliminar este registro?</p>
                        <p class="text-warning"><small>Esta accion no puede ser cambiada</small></p>
                    </div>
                    <div class="modal-footer" id="btn-eliminar">

                    </div>
                </form>
            </div>
        </div>
    </div>
</form>
<!-- 
{% if value %}
    <p id="idUserLogueado" style="visibility: hidden;">{{ value }}</p>
{% endif %} -->

<!-- <script>
    getUsuarios();
</script> -->

{% endblock %}