{% extends "navbar-logueado.html" %}

{% block content %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto|Varela+Round">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script>


    function getDate() {
        var today = new Date();

        document.getElementById("date-selected-initial").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);
        document.getElementById("date-selected-final").value = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2) + '-' + ('0' + today.getDate()).slice(-2);

    }

    function getCC(clientSelected, dateInitial, dateFinal) {

        urlCC = "/current-account/cc/all";
        urlProdCC = "/current-account/productos/cc/all";
        
        var fechaInitial, fechaFinal;
        if (dateInitial) fechaInitial = new Date(dateInitial.value);
        if (dateFinal) fechaFinal = new Date(dateFinal.value);
        $.getJSON(urlCC).done(function (cc) {
            $("#tr_cargartabla").empty();
            $.getJSON(urlProdCC).done(function (prodcc) {
                prodcc.forEach(function (objProdcc) {
                    cc.forEach(function (objcc) {
                        var fechaAux = new Date(objcc.fechamov)
                        if (clientSelected && clientSelected.value != "all") {
                            if (fechaInitial <= fechaAux && fechaFinal >= fechaAux) {
                                if (objProdcc.cuenta_corrienteid === objcc.id && objcc.clienteid === parseInt(clientSelected.value)) {
                                    listSearchedElements(objcc, objProdcc, fechaAux);
                                }
                            }
                        } else {
                            if (fechaInitial <= fechaAux && fechaFinal >= fechaAux) {
                                if (objProdcc.cuenta_corrienteid === objcc.id) {
                                    listSearchedElements(objcc, objProdcc, fechaAux);
                                }
                            }
                        }

                    });

                })
            })
        })

    }

    function listSearchedElements(objcc, objProdcc, fechaAux) {
        $('#tr_cargartabla').append(
            '<tr>' +
            '<td>' + objcc.id + '</td>' +
            '<td id="client-id' + objcc.clienteid + '"></td>' +
            '<td id="producto-id' + objProdcc.productoid + '"</td>' +
            '<td>' + objProdcc.num_jugada + '</td>' +
            '<td id="monto-id' + objProdcc.productoid + '"></td>' +
            '<td>' + fechaAux.getDate() + "/" + (fechaAux.getMonth() + 1) + "/" + fechaAux.getFullYear() + " " + fechaAux.getHours() + ":" + (fechaAux.getMinutes() + 1) + '</td>' +
            '</tr>'
        );


        url1 = "/client/" + objcc.clienteid;
        $.getJSON(url1).done(function (client) {
            $("#client-id" + objcc.clienteid).empty();
            client.forEach(function (cliente) {
                $('#client-id' + objcc.clienteid).append(cliente.nombre);
            })
        });

        url2 = "/product/" + objProdcc.productoid;
        $.getJSON(url2).done(function (product) {
            $("#producto-id" + objProdcc.productoid).empty();
            $('#monto-id' + objProdcc.productoid).empty();
            product.forEach(function (prod) {
                $('#producto-id' + objProdcc.productoid).append(prod.nombre);
                $('#monto-id' + objProdcc.productoid).append("$ " + prod.precio);
            });
        });
    }

    function showClients() {
        urlClient = "/client/all";
        $.getJSON(urlClient).done(function (clients) {
            $("#client-selected").empty();
            $('#client-selected').append(
                '<option selected disabled value="default">Seleccione cliente...</option>' +
                '<option value="all">TODOS</option>'
            );
            clients.forEach(function (client) {
                $('#client-selected').append(
                    '<option value=' + client.id + '>' + client.nombre + '</option>'
                );
            });

        })
    }

    window.onload = function () {
        getDate();
    };

    getCC();
    showClients();


</script>

<form style="margin-top:100px;">
    <div class="form-group">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for m in messages %}
        <div class="alert alert-success text-center">{{ m }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="table-responsive">
        <div class="table-wrapper table">

            <div class="table-title">
                <div class="row">
                    <div class="col-sm-12">
                        <h2 style="text-align: center;">Movimientos Cuentas Corrientes</h2>
                    </div>
                </div>
            </div>
            <div class="form-row p-2">
                <label class="form-select form-group col-md-5 m-auto"> Seleccione Cliente: </label>
                <label class="form-select form-group col-md-2 m-auto"> Selec. Fecha Inicio: </label>
                <label class="form-select form-group col-md-2 m-auto"> Selec. Fecha Fin: </label>
            </div>
            <div class="form-row p-2">
                <select class="form-select form-group col-md-5 m-auto" id="client-selected"
                    aria-label="Default select example"
                    onchange="getCC(this,document.getElementById('date-selected-initial'),document.getElementById('date-selected-final'))">
                </select>
                <input type="date" onload="getDate()" id="date-selected-initial"
                    class="form-select form-group col-md-2 m-auto"
                    onchange="getCC(document.getElementById('client-selected'),this,document.getElementById('date-selected-final'))">
                </input>
                <input type="date" onload="getDate()" id="date-selected-final"
                    class="form-select form-group col-md-2 m-auto"
                    onchange="getCC(document.getElementById('client-selected'),document.getElementById('date-selected-initial'),this)">
                </input>
            </div>
            <br />
            <table class="table table-striped table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th></th>
                        <th>Cliente</th>
                        <th>Producto</th>
                        <th>Num. Jugada</th>
                        <th>Monto</th>
                        <th>Fecha</th>
                    </tr>
                </thead>
                <tbody id="tr_cargartabla">
                </tbody>
            </table>
        </div>
    </div>
   
</form>

{% endblock %}